<ngb-carousel [interval]=0 >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71bbd82fQiL._RI_.jpg">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <img src= "http://puui.qpic.cn/vcover_hz_pic/0/4atd5mcgi2uwnvr1580269669/0">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <img src="https://images.squarespace-cdn.com/content/v1/5796c3fc15d5dbda8ad72bf9/1594350975169-1IR3CNR6KGT3ARR3PBPV/CrashLandingOnYou.jpg">
    </div>
   
  </ng-template>
</ngb-carousel>