<ngb-carousel [interval]=0 >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <youtube-player
videoId="wdHeiVf0mds"


>
</youtube-player>
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <youtube-player
videoId="eXMjTXL2Vks"


>
</youtube-player>
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <youtube-player
videoId="1IjMTR2DxlA"
muted = true
playing= true
loop = true

>
</youtube-player>
    </div>
   
  </ng-template>
</ngb-carousel>