<ngb-carousel [interval]=0 >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <youtube-player 
  videoId="8AcNEVUzV4o" 
  suggestedQuality="highres" 
   > 
</youtube-player>
    </div>
    <div class="carousel-caption">
      <h3>Goblin</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <youtube-player 
  videoId="1xh8cujxUGs" 
  suggestedQuality="highres" 
   > 
</youtube-player>
    </div>
    <div class="carousel-caption">
      <h3>What's Wrong with Secretary Kim?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <youtube-player 
  videoId="GVQGWgeVc4k" 
  suggestedQuality="highres" 
   > 
</youtube-player>
    </div>
    <div class="carousel-caption">
      <h3>Crash Landing on You</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>