<div class='center'>
<div class='allcard' *ngFor="let show of kdsrv.shows; index as i">

<div class="card mb-3 " >
  <div class="row g-0">
    <div class="col-md-4">
       <a [routerLink]="'/show/' + show[0].id"><img [src]="show[0].image" alt="image" class="img-fluid"> </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{show[0].title}}</h5>
        <p class="card-text">
          Episodes: {{show[0].episode_numbers}}
        </p>
        
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
</div>

