@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap')


.card-body button   
    border: none
    background-color: #A5DAFA
    padding: 10px
    color: white
    border-radius: 15px
    margin-left: -10px
h1
    text-align: center

@media only screen and (min-width: 1000px)
    .img-fluid
        width: 240px
        height: 300px

    .center 
        align-items: center

    .card
        width: 1000px!important
    .card-title
        font-size: 35px
        font-family: 'Cinzel', serif
    .card-text 
        font-size: 25px
        margin-top: 5%


