<div class='helper'>
<img class="logo" src="https://res.cloudinary.com/dx3a3l6k0/image/upload/v1631742201/Cute_Love_Floral_Illustration_Logo_fpbc4m_mqq4aq.png"> 
</div>
<youtube-player
videoId="1i1xABoJGC0"
muted = true
playing= true
loop = true
[playerVars]="playerConfig"
>
</youtube-player>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse flexme">
    <ul class="navbar-nav flexme">
      <li class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="''" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/show'" routerLinkActive="active" (click)="isMenuCollapsed = true">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about'" (click)="isMenuCollapsed = true">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="'/mylist'" (click)="isMenuCollapsed = true">My List</a>
      </li>      
       <li class="nav-item">
        <a class="nav-link" [routerLink]="'/signup'" (click)="isMenuCollapsed = true">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true">Login</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
